# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
env/
venv/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== ML / CV =====
models/*.h5
models/*.pt
models/*.onnx
datasets/
data/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== IDEs =====
.vscode/
.idea/

# ===== Logs =====
*.log

# ===== Build / Dist =====
build/
dist/
*.egg-info/

# ===== Embedded / Arduino =====
*.hex
*.elf
*.bin
*.map
*.o

# ===== Temporary =====
tmp/
temp/
